
@{
    ViewBag.Title = "TotalEmployee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 style="margin-left:15px">Total Employee</h2>
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Simple Full Width Table</h3>

        <div class="card-tools">
            <ul class="pagination pagination-sm float-right">
                <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
            </ul>
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0">
        <table class="table">
            <thead>
                <tr style="text-align:center">
                    <th >#</th>
                    <th>Name-Surname</th>
                    <th>Duty</th>
                    <th >Status</th>
                </tr>
            </thead>
            <tbody>
               <tr style="text-align:center">
                   <td> <span class="badge badge-info">1</span> </td>
                   <td>  <span class="badge badge-light">Doctor</span>   </td>
                   <td>test</td>
                   <td> <span class="badge badge-danger " >Pasive</span> </td>
               </tr>
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>